#dekton_mainv {
  position: relative;
}
#dekton_box01 {
  overflow: hidden;
  padding: 5.208vw 0;
  @include max(1024px) {
    padding: 60px 0 60px;
  }
  @include sp {
    padding: 60px 0 0;
  }
}
#dekton_box02 {
  position: relative;
  .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    &::before {
      content: "";
      width: 100%;
      height: 5.208vw;
      background: url("/assets/images/dekton/bg01.png") no-repeat center bottom;
      background-size: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &::after {
      content: "";
      width: 100%;
      height: 5.208vw;
      background: url("/assets/images/dekton/bg02.png") no-repeat center top;
      background-size: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
    }
  }
  &:after {
    content: "";
    width: 100%;
    height: calc(100% - 9vw);
    background: url("/assets/images/dekton/bg03.png") no-repeat center;
    background-size: cover;
    position: absolute;
    top: 4.5vw;
    left: 0;
    z-index: 0;
  }
  .dekton_box02__cont {
    display: flex;
    position: relative;
    z-index: 9;
    padding: 5.208vw 0;
    > div {
      width: 50%;
    }
    .box-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 5vw;
      .txt01 {
        font-size: 5.313vw;
        font-weight: 900;
        line-height: 1;
        writing-mode: vertical-rl;
        background: rgba($color: #fff, $alpha: 0.2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-right: 2.083vw;
        flex-shrink: 0;
        transform: rotate(180deg);
      }
      h3 {
        color: #fff;
        font-size: 5.208vw;
        font-weight: 600;
        line-height: 1.2;
      }
    }
    .box-right {
      display: flex;
      flex-direction: column;
      .block {
        width: 100%;
        display: flex;
      }
      .frame {
        padding: 0 3vw 45px;
        h4 {
          font-size: 30px;
          font-weight: 600;
          margin-bottom: 20px;
        }
        &--01 {
          width: calc(50% + 0.365vw);
          background: #fff;
        }
        &--02 {
          width: calc(50% - 0.365vw);
          background: #0779f1;
          color: #fff;
        }
        &--03 {
          width: 100%;
          height: 100%;
          background: #000936;
          color: #fff;
          padding-top: 40px;
        }
      }
    }
  }
  @include max(1024px) {
    &::after {
      content: none;
    }
    .bg {
      display: none;
    }
    .dekton_box02__cont {
      flex-direction: column;
      padding: 100px 0 14.648vw;
      > div {
        width: 100%;
      }
      .box-left {
        justify-content: center;
        background: #18191b;
        position: relative;
        padding: 40px 3vw 14.648vw;
        &::before {
          content: "";
          width: 100%;
          height: 10.449vw;
          background: url("/assets/images/dekton/bg04.png") no-repeat center
            bottom;
          background-size: 100%;
          position: absolute;
          z-index: -1;
          top: -10vw;
          left: 0;
        }
        h3 {
          font-size: 7vw;
        }
        .txt01 {
          font-size: 8vw;
          margin-right: 5vw;
        }
      }
      .box-right {
        position: relative;
        &::before {
          content: "";
          width: 100%;
          height: 10vw;
          background: url("/assets/images/dekton/bg05.png") no-repeat center
            bottom;
          background-size: 100%;
          position: absolute;
          z-index: 1;
          top: -9.5vw;
          left: 0;
        }
        .frame {
          padding: 0 3vw 40px;
          h4 {
            font-size: 25px;
          }
          &--01,
          &--02 {
            width: 50%;
          }
          &--03 {
            padding: 40px 3vw 40px;
            position: relative;
            &::after {
              content: "";
              width: 100%;
              height: 10.449vw;
              background: url("/assets/images/dekton/bg06.png") no-repeat center
                top;
              background-size: 100%;
              position: absolute;
              z-index: 1;
              bottom: -10vw;
              left: 0;
            }
          }
        }
      }
    }
  }
  @include sp {
    .dekton_box02__cont .box-right .frame h4 {
      font-size: 18px;
    }
  }
}
#dekton_box03 {
  padding: 5.208vw 0;
  position: relative;
  z-index: 0;
  .inner {
    position: relative;
    z-index: 9;
  }
  .benefit__block {
    .slick-dotted.slick-slider {
      margin-bottom: 120px;
    }
    dl {
      dt {
        background: #fff;
        border-radius: 10px;
        color: #000;
        font-size: 25px;
        font-weight: 700;
        position: relative;
        cursor: pointer;
        padding: 20px 60px 20px 30px;
        margin-bottom: 50px;
        &:after {
          content: "";
          width: 40px;
          height: 3px;
          background: url("/assets/images/dekton/dekton_ico01.png") no-repeat
            center;
          background-size: contain;
          position: absolute;
          top: 50%;
          right: 40px;
          transform: translateY(-50%);
        }
        &.active:after {
          height: 40px;
          background: url("/assets/images/dekton/dekton_ico02.png") no-repeat
            center;
          background-size: contain;
        }
      }
    }
  }
  @include max(1024px) {
    padding: 60px 0;
    .benefit__block .slick-dotted.slick-slider {
      margin-bottom: 75px;
    }
    .benefit__block dl dt {
      border-radius: 5px;
      font-size: 22px;
      padding: 15px 50px 15px 20px;
      margin-bottom: 30px;
      &:after {
        width: 30px;
        right: 20px;
      }
    }
    .benefit__block dl dt.active:after {
      height: 30px;
    }
  }
  @include sp {
    .illust03 {
      top: -9.766vw;
    }
  }
}

#dekton_box05 {
  padding: 5.208vw 0;
  .c-title02 {
    margin-bottom: 50px;
  }

  @include max(1024px) {
    padding: 0 0 60px;
    .c-title02 {
      margin-bottom: 35px;
    }
  }
}

#dekton_box07 {
  padding: 5.208vw 0 0;
  @include max(1024px) {
    padding: 60px 0 0;
  }
}
