/*------------------------------------------------------------
	Footer
------------------------------------------------------------*/
.c-footer {
  background: #000936;
  position: relative;
  z-index: 1;
  padding: 100px 0 100px;
  margin-top: 12.5vw;
  &::before {
    content: "";
    width: 100%;
    height: 7.292vw;
    background: url(/assets/images/bg_wave_top.svg) no-repeat center bottom;
    background-size: 100%;
    position: absolute;
    top: -7.292vw;
    left: 0;
    z-index: 0;
  }
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #000936;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .inner {
    position: relative;
    z-index: 2;
  }
  .footer {
    &__cont {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -22px -40px;
    }
    &__block {
      width: calc((100% - 132px) / 3);
      color: #fff;
      margin: 0 22px 40px;
    }
    &__frame {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
      .f_ttl {
        border-bottom: 1px solid #fff;
        color: #f5ecb5;
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 15px;
		margin-bottom: 20px;
      }
	  .f_txt01 {
		font-size: 18px;
		font-weight: 700;
		line-height: 1.33;
		margin-bottom: 10px;
	  }
    }
  }
}
