#marble_mainv {
  position: relative;
}
#marble_box01 {
  overflow: hidden;
  padding: 5.208vw 0;
  @include max(1024px) {
    padding: 60px 0 60px;
  }
  @include sp {
    padding: 60px 0;
  }
}
#marble_box02 {
  .c-title02 {
    margin-bottom: 50px;
  }
  @include sp {
    .c-title02 {
      margin-bottom: 35px;
    }
  }
}
#marble_box03 {
  padding: 5.208vw 0;
  @include max(1024px) {
    padding: 60px 0;
  }
}

#marble_box05 {
  padding: 50px 0 100px;
  .c-title02 {
    margin-bottom: 50px;
  }

  @include max(1024px) {
    padding: 0 0 60px;
    .c-title02 {
      margin-bottom: 35px;
    }
  }
}

#marble_box07 {
  padding: 5.208vw 0 0;
  @include max(1024px) {
    padding: 50px 0 0;
  }
}
