.m-block01 {
  display: flex;
  align-items: center;
  figure {
    width: 50%;
    max-width: 600px;
  }
  &__cont {
    width: 50%;
    max-width: 600px;
    height: auto;
    flex-shrink: 0;
    padding-left: 50px;
    overflow: hidden;
    @include max(1024px) {
      padding-left: 3vw;
    }
    .section {
      margin-bottom: 40px;
      @include max(1024px) {
        margin-bottom: 25px;
      }
      p {
        &:not(:last-child) {
          margin-bottom: 30px;
          @include max(1024px) {
            margin-bottom: 15px;
          }
        }
      }
    }
    .c-title01 {
      margin-bottom: 40px;
      @include max(1024px) {
        margin-bottom: 20px;
      }
    }
  }
  @include max(767px) {
    flex-direction: column-reverse;
    figure {
      width: 100%;
      max-width: 100%;
    }
    &__cont {
      width: 100%;
      max-width: 100%;
      padding: 0;
      margin-bottom: 30px;
    }
  }
}

.m-block02 {
  &__cont {
    .frame01 {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
      figure {
        width: 100%;
        max-width: 790px;
        border-radius: 10px;
        overflow: hidden;
        line-height: 0;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .block {
        width: 100%;
        max-width: 380px;
        background: #fff;
        flex-shrink: 0;
        padding: 40px;
        h4 {
          font-size: 20px;
          font-weight: 600;
          line-height: 1.35;
          margin-bottom: 20px;
        }
        .sec {
          margin-bottom: 50px;
          p:not(:last-child) {
            margin-bottom: 20px;
          }
        }
        .link-detail {
          text-align: right;
          a {
            display: inline-flex;
            align-items: center;
            color: #000936;
            font-size: 18px;
            font-weight: 400;
            position: relative;
            &::after {
              content: "";
              width: 40px;
              height: 15px;
              background: url("/assets/images/arrow_icon02.png") no-repeat
                center;
              background-size: contain;
              display: block;
              margin-left: 20px;
            }
          }
        }
        @include max(1024px) {
          padding: 30px 3vw;
          h4 {
            font-size: 16px;
          }
          .link-detail {
            a {
              font-size: 15px;
              &::after {
                width: 30px;
                height: 12px;
                margin-left: 10px;
              }
            }
          }
        }
      }
      @include max(767px) {
        flex-direction: column;
        figure {
          width: 100%;
          border-radius: 5px 5px 0 0;
        }
        .block {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.m-block03 {
  display: flex;
  justify-content: space-between;
  &__cont {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .c-title03 {
      width: max-content;
    }
    .sec {
      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &__img {
    width: 50%;
    height: 100%;
    line-height: 0;
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
    .txt {
      max-width: 60px;
      position: absolute;
      bottom: 0;
      right: -40px;
      transform: translateX(100%);
      > img {
        width: 100%;
        object-fit: contain;
      }
      @include max(1400px) {
        right: 0;
        transform: none;
      }
    }
  }
  &--01 {
    flex-direction: row-reverse;
    .m-block03__cont {
      overflow: hidden;
    }
    .m-block03__img .txt {
      right: auto;
      left: -40px;
      transform: translateX(100%);
    }
  }
  @include sp {
    flex-direction: column;
    &__cont {
      width: 100%;
      margin-bottom: 30px;
    }
    &__img {
      width: 100%;
      .txt {
        width: 7.823vw;
      }
    }
  }
}
.m-block04 {
  .c-title02 {
    color: #000936;
    margin-bottom: 40px;
  }
  .txt01 {
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
  }
  .txt02 {
    text-align: center;
  }
  .list-3cols {
    margin-top: 35px;
  }
  @include max(1024px) {
    .c-title02 {
      margin-bottom: 35px;
    }
    .txt01 {
      font-size: 18px;
    }
  }
}

.m-block05 {
  background: url("/assets/images/dekton/dekton_bg01.png") no-repeat top;
  background-size: 100%;
  position: relative;
  z-index: 1;
  padding: 13vw 0;
  .c-slider01 .slick-dots li.slick-active button:before {
    background: #0779f1;
    border-color: #0779f1;
  }
  @include max(1024px) {
    padding: 13vw 0 60px;
  }
}
.m-blockfqa {
  dl {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.15));
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    dt {
      background: #ededed;
      border-radius: 10px 10px 0px 0px;
      color: #101010;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      position: relative;
      padding: 20px 60px 20px 30px;
      @include sp {
        font-size: 16px;
        padding: 10px 40px 10px 3vw;
      }

      &::after {
        content: "";
        width: 24px;
        height: 24px;
        background: url(/assets/images/fqa_ico02.png) no-repeat center;
        background-size: contain;
        position: absolute;
        top: 50%;
        right: 34px;
        transform: translateY(-50%);
        @include sp {
          right: 15px;
        }
      }
      &.active::after {
        height: 2px;
        background: url(/assets/images/fqa_ico01.png) no-repeat center;
        background-size: contain;
      }
    }
    dd {
      display: none;
      background: #fff;
      border-radius: 0px 0px 10px 10px;
      color: #000;
      text-align: justify;
      padding: 25px 30px;
      @include sp {
        padding: 10px 3vw;
      }
      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }
    &:first-child {
      dd {
        display: block;
      }
    }
  }
}
.m-blockeval {
  dl {
    display: flex;
    padding: 20px 0 20px;
    &:not(:first-child) {
      border-top: 1px solid#BBBBBB;
    }
    dt {
      display: flex;
      width: 35vw;
      max-width: 310px;
      flex-shrink: 0;
      position: relative;
      padding-right: 15px;
      &::before {
        content: "";
        width: 20px;
        height: 20px;
        background: url(/assets/images/star_ico01.png) no-repeat center;
        background-size: contain;
        display: block;
        position: relative;
        top: 2px;
        margin-right: 15px;
      }
    }
    dd {
      width: 100%;
      color: #000000;
      .eval-list {
        display: flex;
        flex-wrap: wrap;
        li {
          width: 49%;
          max-width: 300px;
          padding-left: 15px;
          position: relative;
          &:nth-child(odd) {
            margin-right: 2%;
          }
          &::before {
            content: "";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #000000;
            position: absolute;
            top: 12px;
            left: 0;
          }
        }
      }
    }
    @include sp {
      flex-direction: column;
      dt {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
      }
      dd {
        .eval-list {
          flex-direction: column;
          li {
            width: 100%;
            &:nth-child(odd) {
              margin: 0;
            }
          }
        }
      }
    }
  }
  .rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .gr_star {
      display: flex;
      margin-right: 10px;
      span {
        width: 13px;
        height: 13px;
        &:not(:last-child) {
          margin-right: 4px;
        }
        &.star01 {
          background: url(/assets/images/star_ico01.png) no-repeat center;
          background-size: contain;
        }
        &.star02 {
          background: url(/assets/images/star_ico02.png) no-repeat center;
          background-size: contain;
        }
      }
    }
  }
}
.m-blockcate {
  h4 {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .listcate {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px 50px;
    > li {
      margin: 0 5px 10px;
      > a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 38px;
        width: auto;
        border: 1px solid #000000;
        border-radius: 5px;
        color: #000;
        font-size: 14px;
        font-weight: 400;
        padding: 10px 10px;
      }
    }
  }
  
}
